<h2>All the students</h2>
<% if @students.empty? %>
  <p>there are not students in this house </p>
  <%else%>
    <ul>
    <% @students.each do |student| %>
      <li> <%= student.name%> </li>
    <% end %>
    </ul>
<% end %>